<footer id="beyond-the-code">
  <h2>Beyond the Code</h2>
  <div class="hobby-container">
    <div class="hobby">
      <i class="fas fa-running"></i>
      <p><b>Running</b> helps me stay fit and clear my mind.</p>
    </div>
    <div class="hobby">
      <i class="fas fa-campground"></i>
      <p>I enjoy spending time <b>camping</b> with friends.</p>
    </div>
    <div class="hobby">
      <i class="fas fa-utensils"></i>
      <p>I love <b>cooking</b> & exploring new recipes.</p>
    </div>
    <div class="hobby">
      <i class="fas fa-wine-bottle"></i>
      <p>I wish to open a <b>meadery</b> one day.</p>
    </div>
    <div class="hobby">
      <i class="fas fa-dice-d20"></i>
      <p><b>Dungeons & Dragons</b> helps fuel my creativity.</p>
    </div>
  </div>
</footer>