<div>
  <h2 class="category">Technologies<br>& Frameworks</h2>
    <table class="tech-table">
        <tr>
            <td><i class="devicon-godot-plain colored"></i> Godot</td>
        </tr>
        <tr>
            <td><i class="devicon-unrealengine-original colored"></i> Unreal</td>
        </tr>
        <tr>
            <td><i class="fa-solid fa-earth-europe"></i> Creation Engine</td>
        </tr>
        <tr>
            <td><i class="devicon-csharp-plain colored"></i> C#</td>
        </tr>
        <tr>
            <td><i class="devicon-blender-original colored"></i> Blender</td>
        </tr>
        <tr>
            <td><i class="devicon-threedsmax-plain colored"></i> 3DS Max</td>
        </tr>
        <tr>
            <td><i class="devicon-photoshop-plain colored"></i> Adobe Suite</td>
        </tr>
        <tr>
            <td><i class="devicon-json-plain"></i> JSON</td>
        </tr>
    </table>
</div>

<div>
  <h2 class='category'>Featured Creations</h2>
    <div class="projects-container">
        <div class="project">
        <img src="https://i.imgur.com/B9r1mYs.png" alt="BG3 Movement System" class="project-thumbnail">
        <h3>BG3 Movement Tutorial</h3>
        <p>An in-depth tutorial on how to implement a movement & camera system akin to the popular game Baldur's Gate 3 in the Godot Engine.</p>
        <a href="https://www.youtube.com/watch?v=Nd7yJg_5yQ0"  target="_blank" class="view-project">View Project</a>
        <p class="stack"> <i class="devicon-godot-plain colored"></i> </p>
        </div>

        <div class="project">
        <img src="https://i.imgur.com/e0nkxZn.png" alt="Laugh or You Die" class="project-thumbnail">
        <h3>Laugh or You're Dead</h3>
        <p>A 3D horror-puzzle game created in the Godot engine, which was created in collaboration with a team for the Global Game Jam 2024.</p>
        <a href="https://hirschbok.itch.io/laugh-or-youre-dead"  target="_blank" class="view-project">View Project</a>
        <p class="stack"> <i class="devicon-godot-plain colored"></i> <i class="devicon-blender-original colored"></i> <i class="devicon-csharp-plain colored"></i> </p>
        </div>

        <div class="project">
        <img src="https://i.imgur.com/cfomPRQ.png" alt="Homeward Essentials" class="project-thumbnail">
        <h3>Homeward Essentials</h3>
        <p>A mod created for the popular game Minecraft which features the creation of unique items with custom code, models, sound, and animation.</p>
        <a href="https://www.curseforge.com/minecraft/mc-mods/homeward-essentials"  target="_blank" class="view-project">View Project</a>
        <p class="stack"> <i class="devicon-java-plain colored"></i> <i class="devicon-photoshop-plain colored"></i> <i class="devicon-json-plain"></i> </p>
        </div>
    </div>
</div>