<header>
    <h1>Thanks for visiting my portfolio! &nbsp;&nbsp;<span class="signature"><i style="align-text: left;"> ~ <%= ENV['FULL_NAME'] %></i></span></h1>
    <nav>
        <ul class="social-links">
        <li><a href="https://github.com/nicky-bee" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/<%= ENV['LINK_NAME'] %>/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
        <li><a href= "mailto: <%= ENV['EMAIL_NAME'] %>@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
        </ul>
    </nav>
</header>