<div>
  <h2 class="category">Technologies & Frameworks</h2>
  <div class="table-container">
    <table class="tech-table">
        <tr>
            <td><i class="devicon-ruby-plain colored"></i> Ruby</td>
        </tr>
        <tr>
            <td><i class="devicon-dot-net-plain colored"></i> .NET</td>
        </tr>
        <tr>
            <td><i class="devicon-java-plain colored"></i> Java</td>
        </tr>
        <tr>
            <td><i class="devicon-javascript-plain colored"></i> JavaScript</td>
        </tr>
        <tr>
            <td><i class="devicon-python-plain colored"></i> Python</td>
        </tr>
        <tr>
            <td><i class="devicon-cplusplus-plain colored"></i> C++</td>
        </tr>
        <tr>
            <td><i class="devicon-c-plain colored"></i> C</td>
        </tr>
        <tr>
            <td><i class="devicon-php-plain colored"></i> PHP</td>
        </tr>
    </table>
    <table class="tech-table">
      <tr>
        <td><i class="devicon-elasticsearch-plain colored"></i> Elasticsearch</td>
      </tr>
      <tr>
        <td><i class="devicon-logstash-plain colored"></i> Logstash</td>
      </tr>
      <tr>
        <td><i class="devicon-kibana-plain colored"></i> Kibana</td>
      </tr>
      <tr>
        <td><i class="devicon-apachekafka-original colored"></i> Kafka</td>
      </tr>
      <tr>
        <td><i class="devicon-amazonwebservices-plain-wordmark colored"></i> AWS</td>
      </tr>
      <tr>
        <td><i class="devicon-mysql-original"></i> MySQL</td>
      </tr>
      <tr>
        <td><i class="devicon-postgresql-plain colored"></i> PostgreSQL</td>
      </tr>
      <tr>
        <td><img style="width: 24px; height: 24px;" src="https://i.imgur.com/zr02IKl.png"> OpenAI</td>
      </tr>
    </table>
  </div>
</div>

<div>
  <h2 class='category'>Featured Creations</h2>
  <div class="projects-container">
      <div class="project">
        <img src="https://i.imgur.com/LF6GO5e.png" alt="Audiens Image" class="project-thumbnail">
        <h3>Audiens</h3>
        <p>A comprehensive soundscape creator that can compile a unified playlist from various media sources such as YouTube, Spotify, and Device Uploads.</p>
        <a href="https://github.com/nicky-bee/audiens"  target="_blank" class="view-project">View Project</a>
        <p class="stack"><i class="devicon-javascript-plain colored"></i> <i class="devicon-ruby-plain colored"></i> <i class="devicon-rails-plain colored"></i> <i class="devicon-html5-plain colored"></i> <i class="devicon-css3-plain colored"></i> </p>
      </div>

      <div class="project">
        <img src="https://i.imgur.com/SAsWHCS.png" alt="SABER Home Page" class="project-thumbnail">
        <h3>SABER</h3>
        <p>'Scan and Budget Expense Recorder': An application that scans pictures of receipts and organizes them into a database for budgeting & expense tracking.</p>
        <a href="https://github.com/nicky-bee/saber"  target="_blank" class="view-project">View Project</a>
        <p class="stack"> <i class="devicon-python-plain colored"></i> <img style="width: 24px; height: 24px;" src="https://i.imgur.com/zr02IKl.png"> </p>
      </div>

      <div class="project">
        <img src="https://i.imgur.com/lBEEBt6.png" alt="ASIS Home Page" class="project-thumbnail">
        <h3>ASIS</h3>
        <p>'Assisted & Secure Information Storage': A password storage application that combines accessability accommodations with security.</p>
        <a href="https://github.com/nicky-bee/Assisted-Secure-Information-Storage"  target="_blank" class="view-project">View Project</a>
        <p class="stack"> <i class="devicon-python-plain colored"></i> <i class="devicon-sqlite-plain colored"></i> </p>
      </div>
  </div>
</div>