<div class='section-container'>
  <h2 class="category">Technologies<br>& Frameworks</h2>
    <table class="tech-table">
        <tr>
            <td><i class="devicon-javascript-plain colored"></i> JavaScript</td>
        </tr>
        <tr>
            <td><i class="devicon-html5-plain colored"></i> HTML</td>
        </tr>
        <tr>
            <td><i class="devicon-css3-plain colored"></i> CSS</td>
        </tr>
        <tr>
            <td><i class="devicon-rails-plain colored"></i></i> Ruby on Rails</td>
        </tr>
        <tr>
            <td><i class="devicon-react-original colored"></i> React</td>
        </tr>
        <tr>
            <td><i class="devicon-jquery-plain colored"></i> jQuery</td>
        </tr>
        <tr>
            <td><i class="fa-solid fa-gear"></i> REST APIs</td>
        </tr>
        <tr>
            <td><i class="devicon-nodejs-plain colored"></i> Node.js</td>
        </tr>
    </table>
</div>

<div>
  <h2 class='category'>Featured Creations</h2>
    <div class="projects-container">
        <div class="project">
        <img src="https://i.imgur.com/kJLO8ku.png" alt="Computer Repair Service Site" class="project-thumbnail">
        <h3>Tech Repair Service</h3>
        <p>A simple yet effective mockup of a computer repair website, where a client can create a work-order ticket, which can then be managed by an employee.</p>
        <a href="https://github.com/nicky-bee/computer_repair_service_website"  target="_blank" class="view-project">View Project</a>
        <p class="stack"><i class="devicon-javascript-plain colored"></i> <i class="devicon-ruby-plain colored"></i> <i class="devicon-rails-plain colored"></i> <i class="devicon-html5-plain colored"></i> <i class="devicon-css3-plain colored"></i></p>
        </div>

        <div class="project">
        <img src="https://i.imgur.com/pnb7ylH.png" alt="My Portfolio Site" class="project-thumbnail">
        <h3>My Portfolio</h3>
        <p>The very same portfolio you're seeing right now! It's the place to showcase my projects and skills, as well as help you get to know more about me personally.</p>
        <a href="https://github.com/nicky-bee/nicky-portfolio"  target="_blank" class="view-project">View Project</a>
        <p class="stack"><i class="devicon-javascript-plain colored"></i> <i class="devicon-ruby-plain colored"></i> <i class="devicon-rails-plain colored"></i> <i class="devicon-html5-plain colored"></i> <i class="devicon-css3-plain colored"></i></p>
        </div>
    </div>
</div>